{
  "openapi": "3.0.3",
  "info": {
    "title": "سامانه احراز هویت یکپارچه (SSO)",
    "version": "1.0.0",
    "description": "مستنداتِ خودکارِ API برای اتصالِ اپلیکیشن‌ها به سامانه‌ی احراز هویت."
  },
  "servers": [
    {
      "url": "https://sso.negahm.ir"
    }
  ],
  "components": {
    "securitySchemes": {
      "AppKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      },
      "AppSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Secret"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "وضعیت سامانه",
        "description": "برای بررسیِ بالا بودنِ سرویس و اتصال به دیتابیس. نیازی به هیچ کلیدی ندارد.",
        "tags": ["سلامت سامانه"]
      }
    },
    "/v1/auth/register": {
      "post": {
        "summary": "ثبت‌نام کاربر",
        "description": "یک کاربرِ جدید می‌سازد و بلافاصله به این اپلیکیشن متصلش می‌کند و توکن برمی‌گرداند.",
        "tags": ["احراز هویت"]
      }
    },
    "/v1/auth/login": {
      "post": {
        "summary": "ورود کاربر",
        "description": "با ایمیل و رمز عبور، توکنِ دسترسی و توکنِ تمدید می‌گیرد.",
        "tags": ["احراز هویت"]
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "summary": "تمدید توکن",
        "description": "با توکنِ تمدید، یک توکنِ دسترسیِ تازه می‌گیرد.",
        "tags": ["احراز هویت"]
      }
    },
    "/v1/auth/logout": {
      "post": {
        "summary": "خروج",
        "description": "توکنِ دسترسیِ فعلی را باطل می‌کند.",
        "tags": ["احراز هویت"]
      }
    },
    "/v1/auth/introspect": {
      "post": {
        "summary": "بررسی اعتبار توکن",
        "description": "می‌گوید یک توکن معتبر است یا نه.",
        "tags": ["احراز هویت"]
      }
    },
    "/v1/users": {
      "get": {
        "summary": "فهرست کاربرانِ اپ",
        "description": "کاربرانی که عضوِ این اپلیکیشن هستند.",
        "tags": ["مدیریت کاربران (قابلِ تفویض)"]
      }
    },
    "/v1/me": {
      "get": {
        "summary": "اطلاعات کاربرِ جاری",
        "description": "اطلاعاتِ کاربری که توکن متعلق به اوست.",
        "tags": ["کاربرِ جاری"]
      }
    }
  }
}
